<!-- Esto muestra los datos de cada miembro -->
<div class="list-group">
  <app-elemento-miembro [miembro]="miembro[0]" (selectEvent)="informarMiembro($event)"></app-elemento-miembro>
  <app-elemento-miembro [miembro]="miembro[1]" (selectEvent)="informarMiembro($event)"></app-elemento-miembro>
  <app-elemento-miembro [miembro]="miembro[2]" (selectEvent)="informarMiembro($event)"></app-elemento-miembro>
  <app-elemento-miembro [miembro]="miembro[3]" (selectEvent)="informarMiembro($event)"></app-elemento-miembro>
  <app-elemento-miembro [miembro]="miembro[4]" (selectEvent)="informarMiembro($event)"></app-elemento-miembro>
</div>
